# Dependencias
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Archivos de entorno
.env
.env.*
.env.local
.env.development
.env.production
.env.test

# Builds
dist/
coverage/
